/.vscode
/Back-end
/Basic exercises
/Data Bases
/Drafts
/exampleWithVite
/flex and style
/Fullstack Syllabus - 2022.pdf
/learn JS in Hebrew-croped2_compressed.pdf
/Object Oriented Programming
/Projects
/React
/server_tools.js
/TICTACTOE
/Useful_Links.html
/VS Code